<%- include ("./partials/header") %>
<h1>All my bugs</h1>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/bugs">bugs</a></li>
    <li><a href="/bugs/new">bugs</a></li>
</ul>

<h1>bugs</h1>
<div>
<% bugs.forEach(function(bug){%>
    <div class="container">
        <%=bug.summary%>
    </div>
<% }) %>
</div>

<%- include ("./partials/footer") %>