<%- include ("./partials/header") %>
<h1>New Bug</h1>

<form action="/bugs" method="POST">
    <input  type="text" name="summary" placeholder="summary">
    <input  type="text" name="stepsToReproduce" placeholder="Steps To Reproduce">
    <input  type="text" name="expectedResults" placeholder="Expected Results">
    <input  type="text" name="actualResults" placeholder="ActualResults">
    <button>Submit</button>
</form>

<%- include ("./partials/footer") %>