<%- include ("../partials/header") %>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <img src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-800x825.jpg">
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
<%- include ("../partials/footer") %>