<%- include ("../partials/header") %>
<div class="ui main text container segment">
    <div class="ui huge header">New Bug</div>
    <form class="ui form"action="/bugs" method="POST">
        <div class="field">
            <input  type="text" name="summary" placeholder="summary">
        </div>
        <div class="field">
            <input  type="text" name="stepsToReproduce" placeholder="Steps To Reproduce">
        </div>
        <div class="field">
            <input  type="text" name="expectedResults" placeholder="Expected Results">
        </div>
        <div class="field">
            <input  type="text" name="actualResults" placeholder="ActualResults">
        </div>
        <div class="field">
            <button class="ui primary button">Submit</button>
        </div>
    </form>
</div>
<%- include ("../partials/footer") %>