<%- include ("../partials/header") %>
<h1> Show </h1>
<a href="/bugs/<%=bug._id%>/edit" class="ui floated basic orange button">
    edit
    <i class ="right chevron icon"></i>
</a>
<form id="delete" action="/bugs/<%=bug._id%>?_method=DELETE" method="POST">
    <button class="ui floated basic red button">Delete <i class ="right chevron icon"></i></button>
</form>
<%- include ("../partials/footer") %>